<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/main.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

    {% block meta %}{% endblock %}
</head>

<body class="baseNav">
<!--adds background image-->


<nav class="navbar navbar-expand-lg navbar-custom ">
    <ul class="nav navbar-nav mr-auto">
        <li class="nav-item navbar-text">
        <li class="nav-item dropdown navbar-text" id="homeBody">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">About Us</a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href={{ url_for('raiden') }}>Raiden</a>
                    <a class="dropdown-item" href={{ url_for('paul') }}>Paul</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>


<div class="container-fluid content">
    {% block content %}{% endblock %}
</div>
</body>
</html>