{% extends "layouts/base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        function showAns() {
            if (document.getElementById('answer').style.display == 'none') {
                document.getElementById('answer').style.display = 'block'
                document.getElementById('toggler').innerText='Hide Answer'
            }
            else {
                document.getElementById('answer').style.display = 'none'
                document.getElementById('toggler').innerText = 'Show Answer'
            }
        }
    </script>
    <meta charset="UTF-8">
    <title>kurtis</title>
</head>
<body>
<h2 style="text-align: center;"> Hi, I'm Kurtis, a junior at Del Norte. I enjoy playing tennis. </h2>
<img src="https://cdn.discordapp.com/attachments/717833262432780291/909941316178284584/kurits.png" id="myImg" width="160" height="160">
<input type="button" onclick="changeImg()" value="Change" />
<script>
    function changeImg() {
        var image = document.getElementById('myImg');
        if (image.src.match("https://cdn.discordapp.com/attachments/717833262432780291/909941316178284584/kurits.png")) {
            image.src = "https://cdn.discordapp.com/attachments/790414660063068181/847209714177540126/image0.jpg";
        }
        else {
            image.src = "https://cdn.discordapp.com/attachments/717833262432780291/909941316178284584/kurits.png";
        }
    }
</script>
</body>
</html>
    <meta charset="UTF-8">



    </head>
    <h1 style="margin-top:25px; font-size: 50px ">Learn Trivia</h1>
    <div class="maincontainer">
        {% for topic in question %}
            <div class="questioncontainer">
                <h3 style="margin-bottom: 25px;font-size: 30px">{{ topic['question']}}?</h3>
                <button class="button" id="toggler" onclick="showAns()" style="margin-bottom: 25px">Show Answer</button>
                <a class = "button" href="/kurtis/">New Fact</a>
                <p id="answer" style="display:none;font-size: 20px;  color: #000000">{{ topic['answer'] }}</p>
            </div>
        {% endfor %}
    </div>

    </body>

{% endblock %}