{% extends "layouts/base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<style>
    .center {
        text-align: center;
        color: white;
    }
</style>
<head>
    <script>
        function showAns() {
            if (document.getElementById('answer').style.display == 'none') {
                document.getElementById('answer').style.display = 'block'
                document.getElementById('toggler').innerText='Hide Answer'
            }
            else {
                document.getElementById('answer').style.display = 'none'
                document.getElementById('toggler').innerText = 'Show Answer'
            }
        }
    </script>
    <meta charset="UTF-8">
    <title>kurtis</title>
</head>
<body style="background-color:#0059a9;">

<h2 class="center"> Hi, I'm Kurtis, a junior at Del Norte. I enjoy playing tennis. </h2>
<img src="https://media.discordapp.net/attachments/599674267268808734/911364844891017266/1637356702275.jpg" id="myImg" width="160" height="160">
<input type="button" onclick="changeImg()" value="Change" />
<script>
    function changeImg() {
        var image = document.getElementById('myImg');
        if (image.src.match("https://media.discordapp.net/attachments/599674267268808734/911364844891017266/1637356702275.jpg")) {
            image.src = "https://media.discordapp.net/attachments/599674267268808734/911365446320676864/1637356851100.jpg";
        }
        else {
            image.src = "https://media.discordapp.net/attachments/599674267268808734/911364844891017266/1637356702275.jpg";
        }
    }
</script>
</body>
</html>
    <meta charset="UTF-8">



    </head>
    <h1 style="margin-top:25px; font-size: 50px; color: white ">Learn Trivia</h1>
    <div class="maincontainer">
        {% for topic in question %}
            <div class="questioncontainer">
                <h3 style="margin-bottom: 25px;font-size: 30px; color: white">{{ topic['question']}}?</h3>
                <button class="button" id="toggler" onclick="showAns()" style="margin-bottom: 25px">Show Answer</button>
                <a class = "button" href="/kurtis/" style="color:white">New Fact</a>
                <p id="answer" style="display:none;font-size: 20px;  color: #ffffff">{{ topic['answer'] }}</p>
            </div>
        {% endfor %}
    </div>

    </body>

{% endblock %}