{#</html>#}
{% extends "layouts/base.html" %}
{% block content %}
    <title>PARK-Tech - Raiden</title>

    <script>
    function changeImage() {
        var image = document.getElementById("image");
        if (image.src.match("https://media.discordapp.net/attachments/644359443311624215/890713494939369492/IMG_3562.jpg")) {
            image.src = "https://media.discordapp.net/attachments/644359443311624215/910624516043071558/IMG_3677.jpg";
        }
        else {
            image.src = "https://media.discordapp.net/attachments/644359443311624215/890713494939369492/IMG_3562.jpg";
        }
    }
</script>

<div class="row">
    <h3 style="text-align: center;">Hello! I'm Raiden and currently am a junior at Del Norte. I enjoy biking, soccer, eating, and spending time with friends. I also like learning about recent events and their history.</h3>
    <a href="https://docs.google.com/document/d/10IgexoJxVsm1w9mi2x22ORh4LrgRvdUqF__PXGfAcns/edit" style="text-color: white; text-align: center">Pair Journal w/ Kurtis</a>
    <img id="image" src="https://media.discordapp.net/attachments/644359443311624215/890713494939369492/IMG_3562.jpg"  style="width:362px; height:247px; float:right;"</img>
    <div style="width: 500px">
    <button height="200px" width="200px" style="text-align: center" id="button" onclick="changeImage()">Change the image (bonus cat)</button>
    </div>
        <p>That's me in the bottom row, on the far left.</p>
    <audio id="nicemusic" src="/static/assets/driftingaway.mp3" preload="metadata" type="audio/mpeg">
        Your browser does not support the audio element.
     </audio>
     <a style="color:snow" class="btn" id="nicemusic-btn">play music(its nice trust me)</a>
     <script>
         var nicemusic = document.getElementById('nicemusic');
         var nicemusicBtn = document.getElementById('nicemusic-btn');

function playPause(song){
   if (song.paused && song.currentTime >= 0 && !song.ended) {
      song.play();
   } else {
      song.pause();
   }
}

function reset(btn, song){
   if(btn.classList.contains('playing')){
      btn.classList.toggle('playing');
   }
   song.pause();
   song.currentTime = 0;
}

function progress(btn, song){
   setTimeout(function(){
      var end = song.duration; 
      var current = song.currentTime;
      var percent = current/(end/100);
      //check if song is at the end
      if(current==end){
         reset(btn, song);
      }
      //set inset box shadow
      btn.style.boxShadow = "inset " + btn.offsetWidth * (percent/100) + "px 0px 0px 0px rgba(0,0,0,0.125)"
      //call function again
      progress(btn, song);     
   }, 1000);
}

nicemusicBtn.addEventListener('click', function(){
    nicemusicBtn.classList.toggle('playing');
   playPause(nicemusic);
   progress(nicemusicBtn, nicemusic);
});


     </script>
    <p>Search up the recent news!</p>
    <form action='/raiden/results/' method="POST">
        <input type="text" placeholder="Enter keyword" name='keyword'>
        <button type="submit">Go!</button>
    </form>


    {% for post in news %}
    <h4>{{post['title']}}</h4>
    <i>{{post['publishedAt']}}</i>
    <p>{{post['description']}}</p>
    {% endfor %}

<style>
    .row {
        background-color: rgba(29, 32, 44, 0.85);
        color: snow;
    }
</style>
{% endblock %}